*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    background-color: #a1c3ff;
  }
  
  ul{
    list-style-type: none;
  }
  
  .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .navbar{
    background: #3474e6;
    color: #fff;
    height: 60px;
  }
  .navbar .logo{
    font-size: x-large;
    font-weight: bold;
  }
  .navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  .navbar a:hover{
    color: lightblue;
  }
  .navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .navbar ul{
    display: flex;
  }
  .navbar ul li{
   margin-left: 20px;
  }
  
  .header{
    background: #000;
    color: #fff;
    min-height: 600px;
  }
  
  .header h3{
    margin-top: 150px;
    letter-spacing: 2px;
  }
  .header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
  }
  .header h4{
    margin-top: 10px;
    letter-spacing: 2px;
  }
  .header img{
    /* display: flex; */
    width: 300px;
    height: 400px;
    margin-top:1.5rem;
    border-radius: 50%;

  }
  .header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .about{
    background-color: #000;
    color: #fff;
    min-height: 450px;
  }
  .about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
    text-align: center;
  }
  .about span{
  
    color: #0a51cc;
  }
  .about p{
    line-height: 1.5;
    text-align: center;
    font-size: 25px;
    margin-bottom: 45px;
  }
  .about .button{
    background-color: #0a51cc;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
  }
  
  .services{
    background-color: #000;
    color: #fff
  }
  .services .container{
    display: flex;
    justify-content: space-between;
  }
  .services h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 15px;
    text-align: center;
  }
  .services h2{
    margin-bottom: 20px;
  }
  
  .box{
    flex: 1;
    background-color: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
  }
  
  .projects{
    background-color: #000;
    color: #fff;
    min-height: 550px;
  }
  .projects .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .projects h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.5;
    margin-bottom: 15px;
    text-align: center;
  }
  .projects .card{
    background-color: #0a51cc;
    border-radius: 10px;
    margin: 20px 10px;
    height: 300px;
  }
  .projects img{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 15px 20px;
  }
    .projects a{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
  .contact{
    background-color: #000;
    color: #fff;
    min-height: 250px;
  }
  .contact .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact p{
    line-height: 1.5;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 45px;
  }
  .contact .button{
    background-color: #0a51cc;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
  }
  .footer{
    background: #000;
    color: #fff;
    min-height: 50px;
  }
  .footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer p{
    font-size: 25px;
    font-weight: bold;
  }
  .footer a{
    height: 60px;
    color: #fff;
    margin-left: 30px;
    font-size: 25px;
  }